@font-face {
    font-family: 'Margarine';
    src: url("https://fonts.cdnfonts.com/css/margarine") format('wolf2');
}

.big {
    width: 200px;
    height: 500px;
}

.redButNormal {
    width: 247px;
    height: 53px;
    border-radius: 20px;
    border-color: none;
    background: rgba(119, 16, 16, 1);
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.normal {
    width: 135px;
    height: 53px;
    border-radius: 20px;
    border-color: none;
    background: #D6D5D5;
    color: #771010;
    font-size: 20px;
    font-weight: 400;
}

.normal:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(500ms);
    background: #997373;
    color: #e7dede;
}

.redButNormal:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(500ms);
    background: #481b1b;
    color: #fedddd;
}

// .hover :hover{
//     background: #bd4848;
// }